.App {
  text-align: center;
  background-color: #222;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
font-size: 54px;
color: #fff

}